ion-icon{
  margin-top: 5px;
  font-size: 24px;
}
.dotsdropdown{
  transform: translate(50px, 0);
  position: absolute;
  right: 10vw;
  z-index: 10;
  
}

.dots{
  padding: 0.3rem;
  display: inline-flex;
  background-color: rgba(255, 255, 255, 0.2);
}
.dot{
  margin:0.1rem;
  height: 0.4rem;
  width: 0.4rem;
  background-color: lightgray;
  border-radius: 100%;
}
.dotsdropcontent{
  max-height: 0;
  overflow-y: hidden;
  overflow-x: visible;
  transform: translate(-38%);
  transition: max-height 0.4s ease-in-out;
  z-index: 11;
}
.dotsdropdown:focus .dotsdropcontent{
  max-height: 100vh;
}
.dotsdropitems{
  display:inline-flex;
  gap: 0.2rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
  flex-direction: column;
  background-color: white ;
  border: 1px solid rgba(0,0,0,.55);
  
  
}

.dotdropdownlink{
  color: rgba(0,0,0,.55);
  border-radius: 2px;
  text-decoration: none;
  font-size: 1.2em;
  font-family: sans-serif;
}

.dotdropdownlink:hover{
  background-color: rgb(187, 187, 187);
}

h1{
  font-size: 2.6em;
}
h2{
  font-size: 2.3em;
}
h3{
  font-size: 2em;
}
h4{
  font-size: 1.6em;
}
h5{
  font-size: 1.3em;
}
h6{
  font-size: 1em;
}
h1, h2, h3, h4, h5, h6{
  font-weight:bold;
}

.containerborder{
  border: 1px solid #888;
}
/*
.snippetpreview {
  transform: scale(0.1, 0.1);
  -ms-transform: scale(0.1, 0.1); 
  -webkit-transform: scale(0.1, 0.1); 
  -o-transform: scale(0.1, 0.1); 
    -moz-transform: scale(0.1, 0.1);
}
*/

.subicons{
  display:inline-flex;
  float:left;
  transform: translateX(-28%);
  gap:1rem;
  opacity: 0;
  transition: opacity 0.3s ease-out;
  pointer-events: none;
}

.subiconslong{
  transform: translateX(-42%);

}

.subiconsmed{
  transform: translateX(-38%);

}

.a-footer:hover .subicons {
  opacity: 1;
  transition: opacity 0s ease-out;
  pointer-events:visible;
}


